{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/cat.css') }}">
{% endblock %}

{% block body %}
<header class="py-5">
  <div class="container px-lg-5">
      <div class="p-4 p-lg-5 bg-light rounded-3 text-center banniere">
          <div class="m-4 m-lg-5">
              <h1 class="fs-3 fw-bold">Trouvez le programmeur, qui rendra réel vos projet !</h1>
              <p class="fs-4"></p>
          </div>
      </div>
  </div>
</header>
	<main>
		<ul class="nav nav-pills mb-3 justify-content-sm-center mb-4 px-3" id="myTabs" role="tablist">
			{% for competence in competences %}
				<li class="nav-item" role="presentation">
					<a class="nav-link {% if loop.first %}active{% endif %}" id="competence-{{ competence.id }}-tab" data-bs-toggle="pill" href="#competence-{{ competence.id }}" role="tab" aria-controls="competence-{{ competence.id }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
						<img src="" width="40px" alt="">
						{{ competence.competence }}
						<span class="badge bg-danger rounded-pill">{{ competence.users|length }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>

		<div class="tab-content" id="myTabContent">
			{% for competence in competences %}
				<div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="competence-{{ competence.id }}" role="tabpanel" aria-labelledby="competence-{{ competence.id }}-tab">
					<div class="row justify-content-sm-center">
						{% for user in competence.users %}
							<div class="col-12 col-sm-6 col-lg-3 mb-4">
                        <div class="profile-card text-center shadow bg-light p-4 my-5 rounded-3">
                            <div class="profile-photo shadow">
                                {% if user.getPhotoProfil() is not empty %}
                                    <img src="{{ asset('profile/' ~ user.getPhotoProfil()) }}" alt="{{ user.nom }} Photo" class="img-fluid">
                                {% else %}
                                    <img src="{{ asset('defaut/default.png') }}" alt="Default Photo" class="img-fluid">
                                {% endif %}
                            </div>
                            <h3 class="pt-3 text-dark">{{ user.nom }}</h3>
                            <p class="text-secondary">{{ user.bio }}</p>
                            <p>{{user.salaire}} €</p>
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <a class="btn btn-success" href="{{ path('user_profil', { 'user': user.id }) }}">Voir +</a>
                        </div>
                    </div>
                    
						{% endfor %}

					</div>
				</div>

			{% endfor %}
		</div>

	</main>

	<footer>
		<div>
			<p>&copy; 2023 Mon Site Web</p>
		</div>
	</footer>
    
{% endblock %}
